<div class="form-group">
  <%= f.label :rates %>
  <%= f.text_field :rates,
                   class: 'form-control',
                   placeholder: "Enter rating",
                   value: rates.map(&:name).join(', ') %>
</div>
